@charset "utf-8";
/* CSS Document */
html {width:100%; height:100%;}
body {font-family:Verdana; font-size:12px; background:#f9f0e9;}
div, li, body, ul, dl, dt, dd, Map, area, form, img, input, h1, h2, h3, h4, h5, p,legend,label,fieldset {margin:0; padding:0; border:0;}
.left {float:left;}
.right {float:right;}
.clear {clear:both; margin:0; padding:0; border:0;}
#orderTable a {outline:none;/*ff*/ hide-focus:expression(this.hideFocus=true);/*ie*/}
a:link {cursor:pointer; text-decoration:none; color:#797979;}
a:visited {text-decoration:none; color:#797979;}
a:hover {text-decoration:none; color:#e40c04;}
a:active {text-decoration:none; color:#e40c04;}
ul {list-style:none;}

a.c:link {cursor:pointer; text-decoration:none; color:#e40c04;}
a.c:visited {text-decoration:none; color:#e40c04;}
a.c:hover {text-decoration:none; color:#e86c68;}
a.c:active {text-decoration:none; color:#e86c68;}
.bg_whitle{background:#FFF;}
.colred{color:#F00;}
.col{color:#e40c04;}
.col333{color:#333;}
.colFFF{color:#FFF;}
.kuan{width:1003px; margin:0 auto; text-align:left;}
.fz{font-family:"微软雅黑", Verdana, Geneva, sans-serif;}
.bd{border:none !important;}
.bk{border-bottom:1px #CDCDCD dashed;}
.text_z{text-align:center;}
.fb{font-weight:normal;}
.fc{font-weight:bold;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f18{font-size:18px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml60{margin-left:60px;}
.ml100{margin-left:100px;}
.mr40{margin-right:40px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb25{margin-bottom:15px;}
.p10{padding:10px;}
.pt10{padding-top:10px;}
.pt25{padding-top:25px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb25{padding-bottom:25px;}
.pb40{padding-bottom:40px;}
.bbd { border-bottom:1px dotted #CCC }